@import "../../assets/sass/main.scss";

.sidebar {
  @include center-flex;
  width: $sidebar-width;
  background-color: $color-black;
  height: 100vh;

  .icon-container > ul {
    @include center-flex;
    flex-direction: column;
    gap: $sidebar-gap;
    height: 100%;
  }

  .copyright {
    @include font-12px-w500;
    color: $color-white;
    position: absolute;
    bottom: $bottom-spacing;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: start;
  }

  @media (max-width: 1320px) {
    width: $sidebar-width-1280;

    .icon-container > ul {
      gap: $sidebar-gap-1280;

      img {
        width: $icon-size-1280;
      }
    }

    .copyright {
      bottom: $bottom-spacing-1280;
    }
  }

  @media (max-width: 1135px) {
    width: $sidebar-width-1024;
  }
}
