@import "../../assets/sass/main.scss";

.sidebar {
  @include center-flex;
  width: $sidebar-width;
  background-color: $color-black;
  height: 100vh;

  .icon-container > ul {
    @include center-flex;
    flex-direction: column;
    gap: $gap-small;
  }

  .copyright {
    @include font-12px-w500;
    color: $color-white;
    position: absolute;
    bottom: $bottom-spacing;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: start;
  }

  @media (max-width: 1439.98px) {
    width: $sidebar-width-70;

    .icon-container > ul {
      gap: $gap-small-70;

      img {
        width: $icon-size-70;
      }
    }

    .copyright {
      bottom: $bottom-spacing-70;
    }
  }
}
