@mixin font-12px-w500 {
  font-size: $font-size-12;
  font-weight: $font-weight-500;
}

@mixin font-14px-w500 {
  font-size: $font-size-14;
  font-weight: $font-weight-500;
}

@mixin font-18px-w400 {
  font-size: $font-size-18;
  font-weight: $font-weight-400;
}

@mixin font-18px-w500 {
  font-size: $font-size-18;
  font-weight: $font-weight-500;
}

@mixin font-24px-w500 {
  font-size: $font-size-24;
  font-weight: $font-weight-500;
}

@mixin font-36px-w500 {
  font-size: $font-size-36;
  font-weight: $font-weight-500;
}

@mixin font-14px-w700 {
  font-size: $font-size-14;
  font-weight: $font-weight-700;
}

@mixin font-18px-w700 {
  font-size: $font-size-18;
  font-weight: $font-weight-700;
}

@mixin font-24px-w700 {
  font-size: $font-size-24;
  font-weight: $font-weight-700;
}

@mixin font-48px-w500 {
  font-size: $font-size-48;
  font-weight: $font-weight-500;
}

@mixin font-48px-w700 {
  font-size: $font-size-48;
  font-weight: $font-weight-700;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
