$font-size-12: 0.75rem; // 12px
$font-size-14: 0.875rem; // 14px
$font-size-15: 0.9375rem; // 15px
$font-size-18: 1.125rem; // 18px
$font-size-24: 1.5rem; // 24px
$font-size-36: 2.25rem; // 36px
$font-size-48: 3rem; // 48px

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0101;
$color-grey: #74798c;
$color-dark-grey: #282d30;

$background-default: #fbfbfb;
$background-red: #ff0000;

$border-radius: 5px;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

$gap-large: 12.5rem; // 200px
$gap-small: 1.25rem; // 20px
$nav-height: 5.6875rem; // 91px
$sidebar-width: 7.3125rem; // 117px
$padding-left: 1.875rem; // 30px
$padding-right: 5.625rem; // 90px
$img-width: 11.125rem; // 178px
$img-height: 3.8125rem; // 61px
$bottom-spacing: 3.75rem; // 60px

// Adjusted variables for 70% of 1440x1024
$nav-height-70: 3.98125rem; // 70% of 91px
$sidebar-width-70: 5.11875rem; // 70% of 117px
$padding-left-70: 1.3125rem; // 70% of 30px
$padding-right-70: 3.9375rem; // 70% of 90px
$img-width-70: 7.7875rem; // 70% of 178px
$img-height-70: 2.66875rem; // 70% of 61px
$gap-large-70: 8.75rem; // 70% of 200px
$gap-small-70: 0.875rem; // 70% of 20px
$bottom-spacing-70: 2.625rem; // 70% of 60px
$icon-size-70: 2.8rem; // 70% of 64px
$font-size-12-70: 0.525rem; // 70% of 12px
$font-size-14-70: 0.6125rem; // 70% of 14px
$font-size-18-70: 0.7875rem; // 70% of 18px
$font-size-24-70: 1.05rem; // 70% of 24px
$font-size-36-70: 1.575rem; // 70% of 36px
$font-size-48-70: 2.1rem; // 70% of 48px
