@import "../../assets/sass/main.scss";

.navbar {
  display: flex;
  align-items: center;
  height: $nav-height;
  background-color: $color-black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .nav {
    width: 100%;
    display: flex;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      list-style-type: none;
      padding-left: $padding-left;
      padding-right: $padding-right;
      align-items: center;

      img {
        width: $img-width;
        height: $img-height;
      }

      li a {
        @include font-24px-w500;
        text-decoration: none;
        color: $color-white;
      }
    }
  }

  @media (max-width: 1320px) {
    height: $nav-height-1280;

    .nav > ul {
      padding-left: $padding-left-1280;
      padding-right: $padding-right-1280;

      img {
        width: $img-width-1280;
        height: $img-height-1280;
      }

      li a {
        font-size: $font-size-24-1280;
      }
    }
  }
  @media (max-width: 1135px) {
    .nav > ul {
      padding-left: $padding-left-1024;
      padding-right: $padding-right-1024;

      img {
        width: $img-width-1024;
      }
    }
  }
}
