@import "../../assets/sass/main.scss";

.daily-activity-chart-container {
  width: 100%;
  height: $activity-chart-height;
  background: $background-default;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding-top: $padding-top;

  @media (max-width: 1320px) {
    height: $activity-chart-height-1280;
    padding-top: $padding-top-1280;
  }

  .activity-chart-title {
    position: absolute;
    padding-top: 5px;
    font-weight: bold;
    color: #20253a;
    padding-left: $padding-left;

    @media (max-width: 1320px) {
      padding-left: $padding-left-1280;
      padding-top: 3.9px; // 5px * (800 / 1024)
    }

    @media (max-width: 1135px) {
      padding-left: $padding-left-1024;
    }
  }
}
