@import "../../../assets/sass/main.scss";

.legend-of-AverageSessionsLineChart {
  @include font-15px-w500;
  width: 135px;
  color: white;
  opacity: 0.6;
  margin-top: 25px;
  margin-left: 15px;
  line-height: 24px;
}
