@import "../../assets/sass/main.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;

  .daily-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: $nav-height * 2;
    padding-left: $sidebar-width;

    .title-container-home {
      @include font-48px-w500;

      .name-container-home {
        color: $color-red;
        margin-left: 10px;
      }
    }

    .presentation-container-home {
      @include font-18px-w400;
      margin-top: 25px;

      .emoji {
        width: 18px;
        margin-left: 5px;
      }
    }
    .section-container {
      display: flex;
      width: 100%;
      margin-top: 35px;

      .content-container-left {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 624px;
        padding-right: 30px;
        margin-bottom: 90px;

        .measurement-card-container {
          display: flex;
          width: 100%;
          gap: 30px;
        }
      }

      .content-container-right {
        display: flex;
        flex-direction: column;
        gap: 39px;
      }
    }
  }

  @media (max-width: 1439.98px) {
    .daily-container {
      padding-top: $nav-height-70 * 2;
      padding-left: $sidebar-width-70;
    }
  }
}
