@import "../../assets/sass/main.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $sidebar-width;

  .daily-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: $nav-height * 2;

    .title-container-home {
      @include font-48px-w500;

      .name-container-home {
        color: $color-red;
        margin-left: 10px;
      }
    }

    .presentation-container-home {
      @include font-18px-w400;
      margin-top: 25px;

      .emoji {
        width: 18px;
        margin-left: 5px;
      }
    }
    .section-container {
      display: flex;
      width: 100%;
      margin-top: 35px;

      .content-container-left {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 624px;
      }
    }
  }
}
