@import "../../../assets/sass/main.scss";

p.titleRadialBarChart {
  @include font-15px-w500;
  padding-top: 30px;
  padding-left: $padding-left;
  position: absolute;
  color: #20253a;
  line-height: 24px;

  @media (max-width: 1320px) {
    padding-left: 18px;
    padding-top: 15px;
  }
}

.containerScore {
  display: flex;
  flex-direction: column;
  align-items: center;

  p.resultScore {
    @include font-30px-w700;
  }

  span.descriptionScore {
    @include font-15px-w500;
    color: #cacdd3;
  }
}
